* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3F4045;
    color: #FCFCFC;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin: 25px 0px;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    margin: auto;
    gap: 12px;
}

.box {
    background: #5D737E;
    height: 90px;
    width: 90px;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 2rem;
}